{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'images/router.png' %}">
  <title>Router-map</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  {% block navbar %}

  {% endblock %}
</nav>
<div class="row main-row" style="margin: auto">
  <div class="container py-5">
    {% block content %}
    {% endblock %}
  </div>
</div>

<script type="text/javascript" src="{% static "js/bundle-base.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
