{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'images/router.png' %}">
  <title>Router-map</title>
  {% block scripts %}
  {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="navbar-nav ml-auto">
    {% block navbar %}

    {% endblock %}
    <a class="nav-item nav-link" href="{% url 'account:logout' %}">
      Log out
    </a>
  </div>
</nav>
<div class="row main-row" style="margin: auto">
  <div class="container py-5">
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
</html>
