<h5 class="card-header sticky-top" id="card-left-header">
  <b>{{ device.name }}</b>
</h5>
<div class="card-body" id="card-left-body">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td><b>Name</b></td>
      <td>{{ device.name }}</td>
    </tr>
    <tr>
      <td><b>IP address</b></td>
      <td>{{ device.ip_address }}</td>
    </tr>
    <tr>
      <td><b>Connection</b></td>
      <td>
        {% if device.connection_is_active %}
          active
        {% else %}
          inactive
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>
</div>
