{% extends "visualisation_base.html" %}
{% load staticfiles %}

{% block title %}
  <div class="navbar-brand" id="title" data-diagram-id={{ diagram.pk }}>
    {{ diagram.name }}
  </div>
{% endblock %}

{% block menu-options %}
  <a href=# class="nav-item nav-link" id="save_position_btn">
    Save position of points
  </a>
  <a href="{% url 'diagram:update' diagram_pk=diagram.pk %}" class="nav-item nav-link">
    Edit diagram
  </a>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "js/bundle-diagram.js" %}"></script>
{% endblock %}
