{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block scripts %}
  <script type="text/javascript" src="{% static "js/bundle-base.js" %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ title }}</h2>
  <form method="POST" enctype="multipart/form-data" id="update-form" class="form-horizontal" novalidate>
    {% csrf_token %}
    {% crispy form %}
    <div class="form-actions">
      <button type="submit" name="submit" class="btn btn-primary" id="submit">Save</button>
      <a href="{{ cancel_url }}" id="cancel" class="btn btn-danger">Cancel</a>
    </div>
  </form>
{% endblock %}
