{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block scripts %}
  <script type="text/javascript" src="{% static "js/bundle-formset.js" %}"></script>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data" id="update-form" class="form-horizontal" novalidate>
    {% csrf_token %}
    {% crispy form helper %}
    <div class="form-actions">
      <button type="submit" name="submit" class="btn btn-primary" id="submit">Save</button>
      <a href="{{ cancel_url }}" id="cancel" class="btn btn-danger">Cancel</a>
      <button type="button" class="btn btn-secondary" id="add-more">Add one more</button>
    </div>

  </form>
{% endblock %}
