{% extends "visualisation_base.html" %}
{% load staticfiles %}

{% block title %}
  <div class="navbar-brand" id="title" data-map-id={{ map.pk }}>
    {{ map.name }}
  </div>
{% endblock %}

{% block menu-options %}
  {% if perms.map.change_map %}
    <a href="{% url 'map:update' map_pk=map.pk %}" class="dropdown-item">
      Edit map
    </a>
    <a href="{% url 'map:manage_devices' map_pk=map.pk %}" class="dropdown-item">
      Manage devices
    </a>
    <a href="{% url 'map:add_devices_via_csv' map_pk=map.pk %}" class="dropdown-item">
      Add devices via csv file
    </a>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "js/bundle-map.js" %}"></script>
{% endblock %}
