{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'images/router.png' %}">
  <title>Router-map</title>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  {% block title %}
  {% endblock %}
  <div class="navbar-brand" id="data">Time</div>
  <div class="navbar-nav ml-auto">
    <a href=# class="nav-item nav-link" id="show_btn">
      Show list of inactive connections
    </a>
    {% block menu-options %}
    {% endblock %}
  </div>
</nav>

<div class="row main-row" id='cards' style="margin: auto">
  <div class="col-sm-4 col-md-3">
    <div class="card" id="card-left" style="display:none;">
      <h5 class="card-header sticky-top" id="card-left-header"></h5>
      <div class="card-body" id="card-left-body"></div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 ml-auto">
    <div class="card" id="card-right" style="display:none">
    </div>
  </div>
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
